nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}





nav div {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}





#logoutBtn {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: clamp(20px, 15vw, 80px);
    padding-right: clamp(20px, 15vw, 80px);
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logoutBtn:hover {
    background-color: #ff1a1a;
}











@media (max-width: 768px) {
    nav {
        flex-direction: row;
    }

    nav div {
        display: none;
    }

    #logoutBtn {
    padding: 10px 20px;
    font-weight: normal;
    }
}