.wrapper {
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-columns: auto 1fr;
}


@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}