* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    font-size: 1rem;
    box-shadow: 1px 1px black;
}

nav .logo {
    font-size: 2rem;
    white-space: nowrap;
}

nav div {
    display: flex;
    gap: 3rem;
    align-items: center;
}

nav a {
    font-size: 1.2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100dvh;
}

main div {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

main h1 {
    font-size: 4rem;
}

main div div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

main div a {
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}









@media (max-width: 600px) {
    nav {
        padding: 1.6rem;
    }

    nav div {
        gap: 1rem;
    }

    main h1 {
        font-size: 3rem;
    }

    main div div {
        flex-direction: column;
    }
}